
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@*<form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile" />
    <input type="submit" value="Upload" />
    @if (ViewBag.Data != null)
    {
        <hr />
        <audio controls autobuffer="autobuffer" autoplay="autoplay">
            <source src='@ViewBag.Data' />
        </audio>
    }
</form>*@

<img src="~/images/pexels-fauxels-3183150.jpg" style="width: 100%;height: 80%;" />